@model GreetModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="element">
    <div class="header">
        <h1>WELCOME<br> TO GREETINGS</h1>
        <i class="fa fa-handshake-o w3-xxlarge" aria-hidden="true"></i>
    </div>
   

    @* <img src="~/images/pexels-vie-studio-4439454.jpg"> *@
    <div class="content">
                <h2 class="display-4">GREET YOUR FRIEND</h2>
            <form method="post" asp-action="Greetings">
                    <div class="validation">
                    <span asp-action="Greetings" asp-validation-for="@Model.FirstName" class="text-danger"></span>
                    </div>

                    <label >Name:</label>
                    <input asp-for="@Model.FirstName"  placeholder="First name" aria-label="First name" /><br>
                
                <div class="radio">
                    <div class="form-check form-check-inline">
                        <div class="validation">
                        <span asp-action="Greetings" asp-validation-for="@Model.Language" class="text-danger"></span>
                        </div>
                    <input asp-for="@Model.Language"  class="form-check-input" type="radio" id="flexchecked" value="isixhosa">
                    <label class="form-check-label" for="inlineRadio2">IsiXhosa</label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input asp-for="@Model.Language"  class="form-check-input"  type="radio"  id="Language" value="setswana">
                    <label class="form-check-label" for="inlineRadio2">Setswana</label>
                    </div>
                    <div class="form-check form-check-inline">
                    <input asp-for="@Model.Language" class="form-check-input"  type="radio"  id="Language" value="isizulu">
                    <label class="form-check-label" for="inlineRadio3">IsiZulu</label>
                    </div>
                </div> 
                <div class="counter">
                    counter: @ViewData["count"] 
                </div>
                        <div class="button">
                        <button asp-action="Greetings" class="btn1" type="submit" >Greet</button>
                        <button asp-action="List" class="btn1" type="submit" >Greeted</button>
                        </div>

            </form>

                     @if(ViewData["Greeting"] != null)
                        {
                             <div class="greeting" background >
                                <strong>@ViewData["Greeting"]</strong>
                            </div>

                        }
                <div>

                </div>
               

    </div>

</div>


